/*import font*/

/*@import url('https://fonts.google.com/')*/


html, body {
    height: 100%;
    width: 100%;
    font-family: monospace;
    color: #111;
}
#website {
    background-image: url("img/web.jpg");
}

.thehead {
    padding-top: 25%;
    padding-bottom: 25%
}
.mycard {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center; 
    
    padding: 3em
}
.jumbotron {
    border-radius: 0;
    padding: 5em inherit;
    min-height: 200px;
}

.padding {
    padding-bottom: 2rem;
}

nav {
    padding: 2em
}
a:link, a:visited {

  color: black;
  text-align: center; 


}

a:hover, a:active {
  background-color: #111;
  text-decoration: none;
}

.myvideo {
    max-width: 1000px;
    align-self: center;
}