/*import font*/

/*@import url('https://fonts.google.com/')*/


html, body {
    height: 100%;
    width: 100%;
    font-family: monospace;
}
#website {
/*    background-image: url("img/web.jpg");*/
}

.container, .container-fluid, body, html,footer {
    background-color: #2b2b2b !important;
}

.alt-title {
    display: block;
    justify-content: space-between;
    align-items: space-between;
    width: 100%;
}

.col {
/*    background-color:  #e1e1e1 ;*/
/*    color: #525354ff;*/
/*    this is for the dropdowns*/
    color: #eee;
  text-decoration: none;
}


.thehead {
  
}
.mycard {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center; 
    padding: 3em;
    
}

#headertext {
        font-size: 100px !important;
    
    }
    
   #subheadertext {
        font-size: 30px !important;
    }

#altheadertext {
        font-size: 50px !important;
    min-width: 400px !important;
    max-width: 100%;
    text-align: left;
    margin-top: 8%;
    margin-left:8%;
    
    }
    
   #altsubheadertext {
        font-size: 25px !important;
       min-width: 200px !important;
       max-width: 100%;
       text-align: right;
        margin-top: 8%;
       margin-right: 2%;
    }

.mycard:hover {
    color: #ffffff;
  text-decoration: none;
      background-color: #333;
}

h1, h2, h3,p, h4,h5,h6,ul,li {
    color: #fff;
}



.padding {
    padding-bottom: 2rem;
}

nav {
    padding: 2em
}
a:link, a:visited {
  color: #ddd;
  text-align: center; 
  


}

.dropdown-menu {
    background-color: #333 !important;
}



a:hover, a:active {
  background-color: #fff;
  color: #eee;
  text-decoration: none;

}

i:hover, i:active {
    color:#ffffff;
}

.myfooter {
   height: 100px;
    width: 100%;
}

.mylinks:hover {
    background-color: #222;
    color: #EEE;
    text-decoration: none;
}

th {
    color: #eee !important;
    background-color: #666 !important;
}

td {
    color: #eee !important;
    background-color: #777 !important;
}

#name { 
    
    position:absolute;
    text-align: center;
    width: 100%;
    top:110px;
    z-index:2;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

li:hover {
    color:white;
}

.vrlist {
    list-style-type:square;
    list-style-position: inside;
    outline-style: inset;
    padding: 1em;
    background-color: #666;
        
}

.vritem {
    margin: 1em;
    color: #eee;
    font-size: 18px;
}

.fa {
    
    color: #000 !important;
}

#background-video {
      width: 100%    !important;
      height: 100% !important; 
      max-height: 600px;
}


@media only screen and (max-width: 600px) {
  
    #headertext {
        font-size: 60px !important;
    }
    
   #subheadertext {
        font-size: 20px !important;
    }
    
    #name {
        top: 30px
    }
    
    #altheadertext {
        margin-top: 4%;
        margin-left: 4%;
    }
    
    #altsubheadertext {
        margin-top: 4%;
        margin-bottom: 0%;
        margin-right: 2%;
    }
}

/*

background #BDC3BE
boxes #E2EAE3
text #5B5D5B
box border #989D99
text: #525354ff
*/
